{% extends "base_template.html" %}
{% block title %}Error - Page Not Found{% endblock %}

{% block content %}
<div class="container text-center py-5">
    <img src="{{ url_for('static', filename='404-illustration.png') }}" alt="Cute cat error image" class="img-fluid mb-4" style=" max-width: 100%; height: auto; max-width: 500px;">
    <h1 class="display-4">Oops! Something went wrong.</h1>
    <p class="lead">សូមអភ័យទោស គេហទំព័រនេះមានបញ្ហា</p>
    <div class="mt-4">
        <p>Want to continue browsing?</p>
        <a href="https://www.instagram.com/yourcompany" target="_blank" class="me-3">Telegram</a>
        <a href="https://www.facebook.com/yourcompany" target="_blank">Facebook</a>
    </div>
    <div class="mt-4">
        <p >Need help?</p>
        <a href="https://www.facebook.com/yourcompany" target="_blank">Connect with us</a>
    </div>
</div>
{% endblock %}