{% extends "base_template.html" %}
{% block title %}SVI - Food Packaging{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v={{ version }}">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<!-- Flickity Carousel -->
<div class="carousel"
     data-flickity='{
        "wrapAround": true,
        "autoPlay": 3000,
        "prevNextButtons": true,
        "pageDots": true,
        "imagesLoaded": true
     }'>
  {% for slide in slideshow %}
  <div class="carousel-cell">
    <a href="{{ url_for('show_category', category_name=slide['Category Name']) }}">
      <img src="{{ slide['Category Icon'] }}" alt="{{ slide['Category Name'] }}">
    </a>
  </div>
  {% endfor %}
</div>

<!-- Category Grid -->
<div class="container mt-5">
  <div class="row g-3">
    {% for cat in all_categories %}
    <div class="col-6 col-sm-6 col-md-4">
      <div class="product-card h-100">
        <a href="{{ url_for('show_category', category_name=cat['Category Name']) }}">
          <img src="{{ cat['Category Icon'] }}" class="img-fluid mb-3" alt="{{ cat['Category Name'] }}">
          <h5 class="card-title fw-semibold mb-2 fs-6 fs-sm-5 fs-md-4">{{ cat["Category Name"] }}</h5>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Swiper JS -->
<!-- <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script> -->

<!-- Flickity JS -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js" defer></script>
<script src="{{ url_for('static', filename='script.js') }}?v={{ version }}" defer></script>
{% endblock %}
