{% extends "base_template.html" %}
{% block title %}SVI - Food Packaging{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<h1 class="text-center my-4">{{ category }}</h1>

<div class="container mt-5">
    <div class="row g-4">
        {% for product in products %}
        <div class="col-6 col-sm-6 col-md-4">
            <div class="product-card h-100">
                <a href="{{ url_for('show_product', category_name=category, product_id=product['ProductID']) }}" class="text-decoration-none text-dark d-block>
                    <img src="{{ product['Image 1'] }}" class="card-img-top img-fluid w-100" alt="{{ product['Product Name'] }}">
                    <h5 class="card-title text-center">{{ product["Product Name"] }}</h5>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
