{% extends "base_template.html" %}
{% block title %}SVI - Food Packaging{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v={{ version }}">

<h1 class="text-center my-4">{{ category }}</h1>


<!-- Category Grid -->
<div class="container">
    <div class="row g-4">
        {% for product in products %}
        <div class="col-6 col-sm-6 col-md-4">
            <div class="product-card h-100">
                <a href="{{ url_for('show_product', category_name=category, product_id=product['ProductID']) }}">
                    <img src="{{ product['Image 1'] }}" class="img-fluid mb-3" alt="{{ product['Product Name'] }}">
                    <h5 class="card-title fw-semibold mb-2 fs-6 fs-sm-5 fs-md-4">{{ product["Product Name"] }}</h5>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
